<app-navbar></app-navbar>
<div class="dashboard">
<div class="container">
  <div class="col-md-4 pull-right">
    <input type="text" class="form-control" name="searchString"
    placeholder="Search Name Here..." [(ngModel)]="searchString">
   <p>You Typed -  {{searchString}}</p>
    </div>
</div>
<br/>
  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td class="bg-dark"><strong>Name</strong></td>
          <td class="bg-dark"><strong>Position</strong></td>
          <td class="bg-dark"><strong>Department</strong></td>
          <td width="275"><strong>Action</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | filter : 'name' : searchString; let i = index">
          <td>{{ employee.name }}</td>
          <td>{{ employee.position }}</td>
          <td>{{ employee.department }}</td>
          <td width="275">
            <a class="btn btn-info" routerLink="/show/{{ employee._id }}"
              >Detail</a
            >
            <a class="btn btn-success" routerLink="/edit/{{ employee._id }}"
              >Edit</a
            >
            <a class="btn btn-danger" (click)="deleteEmployee(employee._id)"
              >Delete</a
            >
          </td>
        </tr>

       

         
      </tbody>
    </table>
  </div>
</div>

<footer></footer>
